<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a style="color:aliceblue;" class="navbar-brand" href="#">Gallery App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style="color:aliceblue;" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a style="color:aliceblue;" class="nav-link" href="#">Photo</a>
      </li>
      <li class="nav-item">
        <a style="color:aliceblue;" class="nav-link" href="#">About</a>
      </li>
    </ul>
    <span style="color:aliceblue;" class="navbar-text">
     Developed By Yash
    </span>
  </div>
</nav>
<app-photo></app-photo>
<router-outlet></router-outlet>